body {
	background-color: #f1faee;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img,
picture,
video {
	max-width: 100%;
}
header {
	color: #f1faee;
	background-color: #1d3557;
	display: flex;
	justify-content: center;
	font-size: 1.25rem;
	cursor: pointer;
	padding: 0.5rem;
}
h1,
ul {
	color: #f1faee;
}

h2,
h3,
h4,
p {
	color: #1d3557;
}
.italics {
	font-weight: 100;
}
.title {
	text-decoration: solid underline #e63946 0.15rem;
}
.orange {
	color: #e63946;
}

h5 {
	color: #e63946;
}

button {
	width: 50px;
	height: 50px;
	border-radius: 48%;
	padding: 0.25rem;
	margin: 0.5rem;
	background-color: #e63946;
	border-style: none;
	font-size: 40px;
	cursor: pointer;
}
.side {
	display: flex;
}
